$dark-color: #324057;
$light-color: #EFF2F7;
$path-color: #59FE88;

html {
    body {
        margin: 0;
        height: 100%;
        background: $light-color;
        clear: both;
    }
    footer {
        margin: 20px;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: $dark-color;
        margin-top: 60px;
    }
    #menu {
        margin: 10px auto;
        padding: 5px;
        text-align:center;
        background: darken($light-color, 20%);
        border: 1px solid $dark-color;
        border-radius: 5px;
        div, button {
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
        }
    }
    #board {
        margin: auto;
        width: 90%;
        .row {
            .tile {
                margin: 0 2px;
                padding: 2px;
                display: inline-block;
                border: 1px solid $dark-color;
                background: darken($light-color, 5%);
                border-radius: 5px;
            }
            .obstacle {
                background: lighten($dark-color, 5%);
            }
            .tile:not(.obstacle) {
                &:hover {
                    background: darken($light-color, 15%);
                }
            }
            .path {
                background: $path-color;
            }
            .opened {
                background: lighten($path-color, 15%);
            }
            .start {
                -webkit-box-shadow:inset 0px 0px 0px 3px lighten(green, 10%);
                -moz-box-shadow:inset 0px 0px 0px 3px lighten(green, 10%);
                box-shadow:inset 0px 0px 0px 3px lighten(green, 10%);
            }
            .goal {
                -webkit-box-shadow:inset 0px 0px 0px 3px lighten(darkred, 10%);
                -moz-box-shadow:inset 0px 0px 0px 3px lighten(darkred, 10%);
                box-shadow:inset 0px 0px 0px 3px lighten(darkred, 10%);
            }
        }
    }
    .starting-point {
        background: green;
        border: 1px solid $dark-color;
        border-radius: 5px;
        &:hover {
            background: lighten(green, 10%);
        }
    }
    .goal-point {
        background: darkred;
        border: 1px solid $dark-color;
        border-radius: 5px;
        &:hover {
            background: lighten(darkred, 10%);
        }
    }
    #run, #info, #reset {
        color: $light-color;
        font-weight: bold;
        background: lighten($dark-color, 5%);
        border: 1px solid $dark-color;
        border-radius: 5px;
        &:hover {
            background: lighten($dark-color, 20%);
        }
    }
    .lock {
        cursor: not-allowed;
        opacity: 0.65;
        filter: alpha(opacity=65);
        box-shadow: none;
    }
    .debug {
        display: none;
        font-size: 10px;
        margin: 2px;
    }
    .show {
        display: flex;
    }
    #panel {
        margin: 0 auto;
        width: 50%;
    }
}
